body {
  font-size: 13px;
}

a {
  color: #4183D7;
  text-decoration: none;
  padding: 2px 0;
}

a:hover {
  background: #4183D7;
  color: #fff;
}

.main-table {
  padding: 2%;
}

.main-table table {
  width: 100%;
}

.member {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 20px 20px 0;
  display: inline-block;
  line-height: 1.5;
}

.member .name {
  font-size: 20px;
}

.muted {
  color: #999;
}

tbody {
  border-top: 2px solid #cbcbcb;
}

.warning {
  color: orangered;
  font-weight: bold
}